<% if obj&.errors&.any? %>
  <div class="alert alert-danger alert-dismissible fade show mb-4 mt-4" role="alert">
    <% obj.errors.full_messages.each do |message| %>
      <li><%= message.gsub(/Title /, '').gsub(/Start date /, '').gsub(/End date /, '') %></li>
    <% end %>
  </div>
<% end %>
